    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        line-height: 1.5;
        font-family: Arial, Helvetica, sans-serif;
        /* background-color: #8bc34a; */
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    #header {
        position: fixed;
        width: 100%;
        height: 46px;
        background-color: #000;
        z-index: 2;
    }
    
    #nav li {
        position: relative;
        display: inline-block;
        list-style: none;
    }
    
    #nav>li:hover>a {
        color: #000;
        background-color: #ccc;
    }
    
    #nav li a {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        line-height: 46px;
        padding: 0 24px;
        display: inline-block;
    }
    
    #nav li a:hover {
        color: #000;
        display: inline-block;
    }
    
    #nav>li>a {
        text-transform: uppercase;
    }
    
    #nav li:hover #sub-nav {
        display: block;
        color: #000;
        background-color: #fff;
    }
    
    #sub-nav {
        position: absolute;
        display: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    }
    
    #sub-nav li {
        display: block;
    }
    
    #sub-nav li a {
        min-width: 170px;
        color: #000;
    }
    
    #sub-nav li a:hover {
        background-color: #ccc;
        display: block;
    }
    
    .menu-mobile-btn,
    .search-btn {
        position: absolute;
        color: #fff;
        line-height: 46px;
        right: 0;
        top: 0;
        padding: 0 24px;
    }
    
    .search-btn:hover {
        background-color: #f44336;
        cursor: pointer;
    }
    
    .menu-mobile-btn {
        display: none;
    }
    /* begin slider */
    
    #slider {
        position: relative;
        padding-top: 46px;
        background-size: cover;
    }
    
    #slider .slide-heading {
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translate(-50%);
        top: 80%;
    }
    
    #slider .slide-heading p {
        color: #fff;
    }
    
    #slider .slide-heading p:first-child {
        font-size: 24px;
        margin: 10px 0;
    }
    /* begin band */
    
    .content,
    #tour {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .content {
        width: 100%;
        margin-top: -5px;
    }
    
    #band {
        max-width: 800px;
        top: 0;
        padding: 64px 0;
        display: inline-block;
        /* background-color: #fff; */
    }
    
    .band-heading {
        text-align: center;
    }
    
    .tour-container .tour-heading p:first-child,
    .band-heading p:nth-child(1) {
        font-size: 30px;
        padding: 10px 0;
    }
    
    .tour-container .tour-heading p:last-child,
    .band-heading p:nth-child(2) {
        font-size: 15px;
        padding: 10px 0;
        font-style: italic;
        opacity: 0.7;
    }
    
    .band-heading p:nth-child(3) {
        font-size: 15px;
        padding: 15px 0;
        text-align: justify;
    }
    
    .band-images-container {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    
    .band-images-container .band-images {
        width: 255px;
        height: 221;
    }
    
    .band-images p {
        padding: 10px 0;
    }
    
    .band-images img {
        width: 153px;
        /* height: 153px; */
        border-radius: 4px;
    }
    /* begin tour */
    
    #tour {
        width: 100%;
        color: #fff;
        background-color: #000;
    }
    
    .tour-container {
        max-width: 800px;
        margin: 64px 16px;
        /* background-color: red; */
    }
    
    .tour-container .tour-heading {
        text-align: center;
        font-size: 15px;
    }
    
    .tour-ticket {
        width: 100%;
        margin: 32px 0;
    }
    
    .tour-ticket ul {
        /* width: 800px; */
        background-color: #fff;
    }
    
    .tour-ticket ul li {
        list-style: none;
        color: #777;
        border: 1px solid #ccc;
        padding: 6px 16px;
    }
    
    .tour-ticket li span {
        margin: 0 0 0 16px;
        padding: 0 8px;
        color: #fff;
        background: #f44336;
    }
    
    .tour-ticket li:last-child span {
        background: #000;
        float: right;
        border-radius: 50%;
    }
    
    .tour-buy-ticket-container {
        display: inline-flex;
        /* justify-content: space-between; */
    }
    
    .tour-buy-ticket {
        width: 33.33%;
        height: 385px;
        background-color: #fff;
        padding-bottom: 32px;
        /* border: 1px solid #f44336; */
    }
    
    .tour-buy-ticket:first-child {
        margin: 0 8px 0 0;
    }
    
    .tour-buy-ticket:nth-child(2) {
        margin: 0 8px;
    }
    
    .tour-buy-ticket:last-child {
        margin: 0 0 0 8px;
    }
    
    .tour-buy-ticket img {
        width: 100%;
    }
    
    .tour-buy-ticket p {
        color: #000;
        padding: 0.1em 16px;
        font-size: 15px;
        line-height: 1.5;
        margin-top: 4px;
    }
    
    .tour-buy-ticket p:nth-child(2) {
        font-weight: bold;
        padding-top: 8px;
    }
    
    .tour-buy-ticket p:nth-child(3) {
        opacity: 0.7;
        padding-top: 8px;
    }
    
    .tour-buy-ticket button {
        padding: 8px 16px;
        margin: 16px 0 0 16px;
        color: #fff;
        background-color: #000;
        border: none;
        font-size: 17px;
    }
    
    .contact-input button:hover,
    .tour-buy-ticket button:hover {
        background-color: #ccc;
        color: #000;
        cursor: pointer;
    }
    /* begin contact */
    
    #contact {
        max-width: 800px;
        padding: 64px 0;
    }
    
    #contact>p {
        text-align: center;
        margin: 0 0 16px 0;
    }
    
    #contact>p:nth-child(2) {
        font-style: italic;
        opacity: 0.7;
    }
    
    .contact-container {
        /* width: 800px; */
        display: flex;
        justify-content: space-between;
        padding: 32px 0;
    }
    
    .contact-info,
    .contact-input {
        width: 50%;
    }
    
    .contact-info p i {
        font-size: 20px;
        width: 30px;
    }
    
    .contact-input {
        float: right;
        right: 0px
    }
    
    .row-input input {
        padding: 8px 16px;
    }
    
    .row-input .col {
        width: calc(50% - 2px);
        float: left;
        margin-bottom: 4px;
        box-sizing: border-box;
    }
    
    .row-input .col:first-child {
        margin-right: 2px;
    }
    
    .row-input .col:last-child {
        margin-left: 2px;
    }
    
    .row-input .col-full {
        width: 100%;
    }
    
    .contact-input button {
        margin-top: 4px;
        padding: 8px 16px;
        float: right;
        background-color: #000;
        color: #fff;
        font-size: 15px;
        border: none;
        text-transform: uppercase;
    }
    /* begin map */
    
    #map img {
        width: 100%;
        background-size: cover;
    }
    /* begin footer */
    
    footer {
        width: 100%;
        text-align: center;
        padding: 64px 16px;
        font-size: 20px;
    }
    
    footer i {
        margin: 8px 0;
    }
    
    footer i:hover {
        opacity: .5;
    }
    
    footer p a,
    footer p {
        font-size: 14px;
        color: #000;
        opacity: 0.8;
    }