    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: gray;
    }
    
    #header {
        /* position: fixed; */
        width: 100%;
        height: 46px;
        background-color: #000;
    }
    
    #nav li {
        position: relative;
        display: inline-block;
        list-style: none;
    }
    
    #nav>li:hover>a {
        color: #000;
        background-color: #ccc;
    }
    
    #nav li a {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        line-height: 46px;
        padding: 0 24px;
        display: inline-block;
    }
    
    #nav li a:hover {
        color: #000;
        display: inline-block;
    }
    
    #nav>li>a {
        text-transform: uppercase;
    }
    
    #nav li:hover #sub-nav {
        display: block;
        color: #000;
        background-color: #fff;
    }
    
    #sub-nav {
        position: absolute;
        display: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    }
    
    #sub-nav li {
        display: block;
    }
    
    #sub-nav li a {
        min-width: 170px;
        color: #000;
    }
    
    #sub-nav li a:hover {
        background-color: #ccc;
        display: block;
    }
    
    .menu-mobile-btn,
    .search-btn {
        position: absolute;
        color: #fff;
        line-height: 46px;
        right: 0;
        top: 0;
        padding: 0 24px;
    }
    
    .search-btn:hover {
        background-color: #f44336;
        cursor: pointer;
    }
    
    .menu-mobile-btn {
        display: none;
    }