/* Thong so thuong dung resposive
PC: >=1024px
Tablet: >= 740px and < 1024px
Mobile: <740px */

.menu-mobile-btn {
    display: none;
}

@media (min-width: 1024px) {}

@media (min-width: 741px) and (max-width: 1024px) {}

@media (max-width: 740px) {
    #header {
        overflow: hidden;
    }
    #nav,
    #nav li a,
    #nav>li {
        display: block;
    }
    #nav>li:nth-child(1) {
        display: inline-block;
    }
    #nav .sub-nav {
        position: inherit;
    }
    .search-btn {
        display: none;
    }
    .menu-mobile-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        color: #fff;
        line-height: 46px;
        padding: 0 24px;
    }
    .menu-mobile-btn:hover {
        color: #000;
        background-color: #fff;
        cursor: pointer;
    }
}