/* reset css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(63, 63, 63, 0.867);
}

#main {}

#header {
    width: 100%;
    height: 46px;
    background-color: #000;
}

#header .search-btn {
    font-size: 18px;
    line-height: 46px;
    padding: 0px 24px;
    float: right;
    color: #fff;
}

#header .search-btn:hover {
    background-color: red;
    cursor: pointer;
}

#nav,
#nav>li {
    display: inline-block;
}

#nav li {
    list-style: none;
    position: relative;
}

#nav>li>a {
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    color: #fff;
    line-height: 46px;
    padding: 0 24px;
    font-size: 15px;
    display: inline-block;
}

#nav>li:hover>a,
#nav .sub-nav li:hover {
    background-color: #ccc;
    color: #000;
}

#nav li:hover .sub-nav {
    display: block;
}

#nav .sub-nav {
    position: absolute;
    min-width: 160px;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

#nav .sub-nav a {
    color: #000;
}

.nav-icon-down {
    font-size: 12px;
}

#slider {}

#content {}

#footer {}